<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{{- block "title" . -}}
				{{- partial "head/page-title.html" . -}}
			{{- end -}}
		</title>
		<link rel="stylesheet" type="text/css" href="{{ relURL "styles.css" }}"/>
	</head>
	<body>
		<header>
			{{- partial "intro/intro.html" . -}}
		</header>
		<main id="main">
			{{- block "main" . -}}{{- end -}}
		</main>
		<footer>
			{{- partial "outro/outro.html" . -}}
		</footer>
	</body>
</html>